0-isupper.c
1-strncat.c
3-islower.c
9-strcpy.c
0-main.c
100-atoi.c
3-puts.c
0-memset.c
3-strcmp.c
_putchar.c
0-strcat.c
100-tests.py
3-strspn.c
len
100.c
4-isalpha.c
liball.so
1-isdigit.c
4-strpbrk.c
1-memcpy.c
2-strchr.c
5-strstr.c
1-strdup.c
2-strncpy.c
6-abs.c